<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bons.ai</title>
</head>

<body>
  <div class="header-wrapper">
    <a class="header-logo" href="../index.html">Bonz.AI</a>
    <nav>
      <a href="../index.html">Home</a>
      <a href="../pages/about-us.html">About us</a>
      <a href="../pages/book-cottage.html">Book cottage</a>
    </nav>
    <p>&#128100;</p>
  </div>
</body>

</html>